body {
  margin: 0;
  color: white;
  display: flex;
  flex-direction: row;
}

.footer {
  background-image: url(src/background.jpg);
  background-repeat: no-repeat;
  width: 1280px;
  height: 850px;
  margin: 0 auto;
}

.phone {
  font-family: Halvetica, sans-serif;
  padding-top: 40px;
  font-size: 49px;
  color: #d55f30;
  display: flex;
  align-items: center;
  justify-content: center;
  font-stretch: extra-condensed;
}

.localdata {
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin-top: -50px;
  align-items: center;
  justify-content: center;
}

.follow_us {
  padding-top: 25px;
  width: 190px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form h5 {
  margin-top: 20px;
  font-size: 22px;
  color: #d55f30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form p {
  margin-top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.flex_form {
  display: flex;
  flex-direction: column;
}

.imputs_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  padding: 10px 15px;
}
input {
  border-radius: 3px;
  border-style: none;
  padding: 5px;
}

.form__input {
  width: 360px;
  height: 35px;
}

textarea {
  margin-top: 10px;
  border-radius: 3px;
  border-style: none;
  height: 88%;
  width: 340px;
}

.footer_button {
  background: #5dbdb1;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

button {
  border-style: none;
}

.footer_down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer_dashborder {
  margin-top: 100px;
}

.footer_tm {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.footer_arrow {
  margin-top: 10px
}